@page "/AboutMe"
@model ChirpWeb.Pages.AboutMeModel
@{
	ViewData["Title"] = "Chirp!";
	Layout = "Shared/_Layout";
	
	<!-- Pagination -->
	int next = Model.currentPage + 1;
	int previous = Model.currentPage > 1 ? Model.currentPage - 1 : 1;
}

<div>
	<h2> About @Model.GetLoggedInUser()</h2>
	@if(Model.User != null)
	{
		<form method="post">
			<button type="submit">Forget me</button>
		</form>
	}
	@if (Model.Cheeps.Any())
    {
        <em>These are your cheeps:</em>
        <ul id="messagelist" class="cheeps">
            @foreach (var cheep in Model.Cheeps)
            {
                <li>
                    <p>
                        <strong>
                            <a href="/@cheep.UserName">@cheep.UserName</a>
                        </strong>
                        @cheep.Text
                        <small>&mdash; @cheep.TimeStamp</small>
                    </p>
                </li>
            }
        </ul>
    }
    else
    {
        <em>User @Model.GetLoggedInUser() has no cheeps.</em>
    }
    <p></p>
    @if (Model.Follows.Any()){
        <em>If your follow any users, they are listed here:</em>
            @foreach (var Username in Model.Follows)
            {
                
                    @if (!Username.Equals(Model.GetLoggedInUser())){
                        <li>
                            <strong>
                                <a href="/@Username">@Username</a>
                            </strong>
                        </li>
                    }
               
            }
        
    }
    @if (Model.currentPage > 1)
    {
        <Button class="button">
            <a href="?pageNumber=@previous" class="button" id="previousButton" style="color: peachpuff;">Previous (@previous)</a>
        </Button>
    }
        <Button class="button">
            <a href="?pageNumber=@next" class="button" id="nextButton" style="color: peachpuff;">Next (@next)</a>
        </Button>
</div>
