@page "/"
@model ChirpWeb.Pages.PublicModel
@{
    ViewData["Title"] = "Chirp!";
    Layout = "Shared/_Layout";

    <!-- Pagination -->
    int next = Model.currentPage + 1;
    int previous = Model.currentPage > 1 ? Model.currentPage - 1 : 1;
}

<div>

    <h2> Public Timeline </h2>

    @if (Model.Cheeps.Any())
    {
        <ul id="messagelist" class="cheeps">
            @foreach (var cheep in Model.Cheeps)
            {
                string Username = cheep.UserName; 
                <li>
                    <p>
                        <strong>
                            <a href="/@cheep.UserName">@cheep.UserName</a> 
                        </strong>
                        @if (Model.IsLoggedIn() && !Model.GetLoggedInUser().Equals(Username))
                        {
                            <form method="post">
                            <input type="hidden" name="AuthorToFollowUsername" value="@cheep.UserName" />
                            <button type="submit">


                            @if(!await Model.IsFollowing(Username)){
                                <span>Follow</span>
                            } else {
                                <span>Unfollow</span>
                            }
                            </button>
                            </form>
                        }
                        <p></p> <!-- Linebreak -->
                        @cheep.Text
                        <small>&mdash; @cheep.TimeStamp</small>
                        
                    </p>
                </li>
            }
        </ul>
    }
    else
    {
        <em>There are no cheeps so far.</em>
    }
    <button class="button" onclick="navigateToPage(@previous)" style="color: ECCFC3;" id="previousButton"
    @(Model.currentPage <= 1 ? "disabled" : "")>Previous (@previous)</button>
    <button class="button" onclick="navigateToPage(@next)" style="color: ECCFC3;" id="nextButton">Next (@next)</button>
</div>

<script>
    function navigateToPage(pageNumber) {
        const url = new URL(window.location.href);
        url.searchParams.set('pageNumber', pageNumber);
        window.location.href = url.toString(); // Navigate to the new URL
    }
</script>

<script>
    function ReloadPage(){
        window.location.href = window.location.href;
    }
</script>